[submodule "openclaw"]
	path = openclaw
	url = https://github.com/GabrieleRisso/openclaw-cursor.git
[submodule "qubes-network-server"]
	path = qubes-network-server
	url = https://github.com/Rudd-O/qubes-network-server.git
